.experience_cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#cs_card {
    background-image: url('https://www.credit-suisse.com/media/www-root/plattform/office-locator/location-images/international-locations/uk_london_onecabotsquare_002.jpg');
    background-position: 160% 10%;
    background-size: 130%;
}
#imagination_card {
    background-image: url('https://hexus.net/media/uploaded/2017/7/256285b5-9ff1-4dda-a434-e3fb5cfd40f8.jpg');
    background-position: -200% 15%;
    background-size: 80%;
}

#imperial_work_card {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5e7d286efe638310b936a175/1596923885443-TABNOQYHK1HALB0XO3TK/Main_Entrance_and_Sign%2C_Imperial_College_London%2C_Exhibition_Road_in_spring.jpg?format=1000w');
}

/*!* MEDIA QUERIES *!*/
@media screen and (max-width: 750px) {
    .education__cards {
        gap: 1.5rem
    }

    #cs_card, #imagination_card, #imperial_work_card {
        background: none;
    }
}
