@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

:root {
  --colour-bg: #fff;
  --colour-bg-variant: #ffd676;
  --colour-primary: #2d9eff;
  --colour-primary-variant: #ff0000;
  --colour-text: #000;
  --colour-light: #dcdcdc;
  --colour-primary-shadow: rgba(0, 66, 119, 0.4);

  --container-margin: 70px;
}