@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

:root {
  --colour-bg: #1f1f38;
  --colour-bg-variant: #2c2c6c;
  --colour-primary: rgb(142, 166, 255);
  --colour-primary-variant: #6780ff;
  --colour-light: #dcdcdc;
}